<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.christmasgame">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DanishPastryScreen"></activity>
        <activity android:name=".CroissantPastryScreen" />
        <activity android:name=".TeaSconesPastryScreen" />
        <activity android:name=".CoconutPieScreen" />
        <activity android:name=".WhiteChristmasPieScreen" />
        <activity android:name=".ApplePieScreen" />
        <activity android:name=".SnowmenPopsCandyScreen" />
        <activity android:name=".PeppermintBarkCandyScreen" />
        <activity android:name=".TrufflesCandyScreen" />
        <activity android:name=".FruitCakeScreen" />
        <activity android:name=".YuleLogCakeScreen" />
        <activity android:name=".RedVelvetCakeScreen" />
        <activity android:name=".ChocolateCookieScreen" />
        <activity android:name=".SugarCookieScreen" />
        <activity android:name=".GingerbreadScreen" />
        <activity android:name=".SecondScreen" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>